
{% extends 'v2/app/base_headless.html' %}

{% load static %}

{% block title %}Register{% endblock %}

{% block content %}

	<div class="container-fluid">
		<div class="row">
			<div class="right-column sisu">
				<div class="row mx-0">
					<div class="col-md-7 order-md-2 signin-right-column px-5 bg-dark">
						<a class="signin-logo d-sm-block d-md-none" href="#">
							<img src="{% static 'assets/img/logo-white.png' %}" width="145" height="32.3" alt="QuillPro">
						</a>
						<h1 class="display-4">Sign Up For An Account Today</h1>
						<p class="lead mb-5">
							Big data latte SpaceTeam unicorn cortado hacker physical computing paradigm.
						</p>
					</div>
					<div class="col-md-5 order-md-1 signin-left-column bg-white px-5">
						<a class="signin-logo d-sm-none d-md-block" href="#">
							<img src="{% static 'assets/img/logo-dark.png' %}" width="145" height="32.3" alt="QuillPro">
						</a>
						<form action="" id="registration-form" method="post">
                            {% csrf_token %}
							<div class="form-group">
								<label for="exampleInputEmail1" class="validemail">Email address</label>
								<input type="email" required class="form-control" id="email" name="email" data-validation="email" aria-describedby="emailHelp" placeholder="Enter email">
								<div class="form-control-feedback text-danger" id="email_error"></div>
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1" id="label_pass" >Password</label>
								<input type="password" required class="form-control" id="password" name="password" placeholder="Password">
                                <div class="form-control-feedback text-danger" id="password_error"></div>
							</div>
							<div class="form-group">
								<label for="exampleInputPassword2" id="label_confirm_pass">Confirm Password</label>
								<input type="password" required class="form-control" id="confirm-password" data-validation="strength" placeholder="Password">
                                <div class="form-control-feedback text-danger" id="confirm_password_error"></div>
							</div>
							<div class="form-group mb-3">

								<label >By creating an account, I agree with the terms</label>
							</div>
							<button id="validate" type="submit" onclick="return validateReg()" class="btn btn-primary btn-gradient btn-block">
								<i class="batch-icon batch-icon-quill"></i>
								Sign Up
							</button>
							<hr>
							<p class="text-center">
								Already Have An Account? <a href="/new-login/">Sign In here</a>
							</p>
						</form>




                        <div class="modal fade bd-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Prospects Generator</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="panel-body">
                                            <p class="text-center pv">REGISTERED</p>
                                            <p class="pt-lg text-center">Please check your emaill to activate your account!</p>
                                            <br/>
                                            <p class="text-center pv">Have an account?</p>


                                         </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary"><a href="/new-login/" style="color:white">Login</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>

					</div>
				</div>
			</div>
		</div>
	</div>


    {% endblock content %}


    {% block script %}

        <script>
            var msg = "{{ msg }}";


        </script>
        <script type="text/javascript" src="{% static 'assets/plugins/form-validator/jquery.form-validator.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/scripts/register.js' %}"></script>




    {% endblock script %}