
{% extends 'v2/app/base.html' %}

{% block content %}

{% block title %}Home{% endblock title %}

<div class="row mb-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body product-page">
                <div class="row">
                    <div class="col-md-12">
                        <h2>B2B Prospects </h2>
                        <p class="lead">
                            B2B Prospects is a powerful tool to get leads from LinkedIn network, working for you on autopilot every single day
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col-lg-12 ">

        <div class="row">
            {% include 'v2/app/includes/price_block.html' with price=Starter %}

            {% include 'v2/app/includes/price_block.html' with price=Professional %}
            {% include 'v2/app/includes/price_block.html' with price=Business %}

        </div>
    </div>
</div>
<div class="row mb-4">
    <div class="col-md-12">
        <footer>
            Powered by - <a href="http://base5builder.com/?click_source=quillpro_footer_link" target="_blank" style="font-weight:300;color:#ffffff;background:#1d1d1d;padding:0 3px;">Base<span style="color:#ffa733;font-weight:bold">5</span>Builder</a>
        </footer>
    </div>
</div>

{% endblock content %}

