<div class="panel panel-primary">
    <div class="panel-heading">
        <p class="panel-title">Your connections</p>
    </div>
    <!-- /.box-header -->
    <div class="panel-body">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td>Current connections:</td>
                <td>{{ connection.connection_count }}</td>
            </tr>
            <tr>
                <td>New in 24 hours:</td>
                <td>{{ connection.h24 }}</td>
            </tr>
            <tr>
                <td>New in 7 days:</td>
                <td>{{ connection.d7 }} </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>