

{% include 'app/includes/chatdirect.html' with chat=chat contact=object %}

<!--/.direct-chat -->

<div class="form-group">
{# what is this https://href.li/?https://www.linkedin.com/in/nbuu07/ #}
	<a href="https://www.linkedin.com/in/{{object.linkedin_id}}/" class="btn btn-block btn-primary btn-flat" target="_blank">LinkedIn profile link</a>
</div><h4>Notes</h4>
<form method="POST" action="{% url 'contact-update-note' pk=object.id %}">
{% csrf_token %}
	
	{{ form.notes }}
	
	<button class="btn btn-block btn-primary btn-flat" data-click="saveNotes" id="save_notes">SAVE</button>
</form>
<br>

